@font-face {
    font-family: construct;
    src: url('../Fonts/construct.ttf');
}

@keyframes load {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

.container {
    height: 100%;
}

.loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-top: 20%;
}

.loader.ng-hide {
    animation: 2s load;
}

.placeholder {
    height: 400px;
    width: 100%;
    background-color: rgb(55, 71, 79);
    text-align: center;
    justify-content: center;
    padding-top: 60px;
}

.floating {
    float: right;
    margin-right: 50px;
}

.social {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.more {
    margin-top: -33px;
}

.conteiner {
    max-width: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
}

.mu {
    margin-bottom: 20px;
}

.skillicon {
    margin-top: -40px;
}

.skill {
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.hello {
    color: white;
    margin-top: 100px;
    font-family: construct;
    font-size: 36pt;
}

.hello.loading {
    color: #aeaeae;
    margin-left: auto;
    margin-right: auto;
}

.icn {
    margin-top: -40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .18);
}

.digit {
    margin-top: 13px;
    font-weight: 600;
}

.footer {
    height: 30px;
    color: white;
    padding-top: 15px;
}

.announce {
    width: auto;
    height: 250px;
}

@media screen and (max-width: 900px) {
    .floating {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .icn {
        background-color: transparent;
    }
}
